<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

   
 <div class="p-10">
    <div class="ml-10 text-white">
<h1> Contacto</h1>

  


    <p>Puedes enviarme un Correo con asunto y motivo de contacto llenando este formulario</p>
    </div>
   

<div class="grid grid-cols-1 lg:grid-cols-[1fr_auto] gap-10">

    <!-- FORMULARIO (ocupa todo el espacio disponible) -->
    <div class="w-full m ">
        <formulario-contact/>
    </div>

    <!-- BARRA AZUL (al final, delgada) -->
    <div class="bg-transparent p-6 rounded-md h-fit mt-10">

      <div class="flex flex-col gap-10 text-white text-lg ">

  <a href="#" class="transition-transform duration-300 hover:scale-110 cursor-pointer">
    <img src="./WhatsApp.svg.webp" class="w-10 h-10 mb-0" />
</a>

<a href="#" class="transition-transform duration-300 hover:scale-110 cursor-pointer">
    <img src="./Github-desktop-logo-symbol.svg.png" class="w-10 h-10 mb-0" />
</a>

<a href="#" class="transition-transform duration-300 hover:scale-110 cursor-pointer">
    <img src="./LinkedIn_icon.svg.png" class="w-10 h-10 mb-0" />
</a>



</div>


    </div>

</div>

  

    </div>


 

</html>