<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harvard Style Resume</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-transparent">
    <div>

        <div class="flex flex-row justify-between p-10">
<h1 class="text-white ml-10">
        Curriculum Vitae 
    </h1>

   <div class="flex justify-center mr-20">
    <button class="bg-[#2C3142] text-white px-6 py-3 rounded-lg shadow-lg hover:bg-[#1f2533] transition-all duration-200 rounded">
        <span class="text-base sm:text-lg font-semibold tracking-wide">
            Descargar PDF
        </span>
    </button>
</div>

        </div>

   

    <main class="w-full max-w-[900px] mx-auto bg-white shadow-md 
            p-6 sm:p-8 md:p-10 
            mt-6 md:mt-10 mb-10 md:mb-16">



        <!-- HEADER -->
<header class="text-center mb-10">
  <h1 class="text-3xl font-serif font-bold tracking-wide">Luis Molina</h1>
  <p class="text-gray-700 mt-1">
      luisjose0317&#64;gmail.com • (57) 301-289-2924 • Rionegro, Antioquia
  </p>
</header>


        <!-- SECTION TITLE -->
        <h2 class="text-xl font-semibold border-b pb-1 mb-4">Education</h2>

        <!-- EDUCATION -->
        <section class="space-y-6">

            <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">Universidad de Antioquia</h3>
                    <span class="text-gray-600">Feb 2024</span>
                </div>
                <p class="italic text-gray-700">Matemáticas</p>
                <ul class="list-disc ml-6 text-gray-700">
                    <li>GPA: 4.0</li>
                    <li>Dean’s Honor List</li>
                    <li>Capstone: AI-based Data Analysis Platform</li>
                </ul>
            </div>

           

        </section>

        <!-- TECHNICAL SKILLS -->
        <h2 class="text-xl font-semibold border-b pb-1 mt-10 mb-4">Technical Skills</h2>

        <section class="grid sm:grid-cols-2 gap-y-4 text-gray-700 text-sm">
            <ul class="list-disc ml-6">
                <li>Python / Scikit-learn</li>
                <li>Machine Learning</li>
                <li>SQL / PostgreSQL</li>
                <li>Javascript</li>
            </ul>
            <ul class="list-disc ml-6">
                <li>Java</li>
                <li>SpringBoot</li>
                <li>Deployment</li>
                <li>Web Development</li>
            </ul>
        </section>

        <!-- EXPERIENCE -->
        <h2 class="text-xl font-semibold border-b pb-1 mt-10 mb-4">Professional Experience</h2>

        <section class="space-y-8 text-gray-700">

            <!-- JOB 1 -->
            <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">ISA Intercolombia</h3>
                    <span>2021 – Present</span>
                </div>

                <ul class="list-disc ml-6 mt-2">
                    <li>Led a team of 5 developers to deliver scalable software solutions.</li>
                    <li>Automated internal processes, reducing manual work by 40%.</li>
                    <li>Developed data pipelines for analytics and BI systems.</li>
                </ul>
            </div>

            <!-- JOB 2 -->
            <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">Smart Evolution</h3>
                    <span>2018 – 2021</span>
                </div>

                <ul class="list-disc ml-6 mt-2">
                    <li>Improved database performance by 20% through tuning.</li>
                    <li>Implemented monitoring dashboards for operations.</li>
                    <li>Collaborated with cross-functional teams in Agile environments.</li>
                </ul>
            </div>

            

        </section>


        <h2 class="text-xl font-semibold border-b pb-1 mt-10 mb-4">Projects</h2>

        <section class="space-y-8 text-gray-700">

            <!-- JOB 1 -->
            <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">AlpeSeguros</h3>
                    <span>2021 – Present</span>
                </div>

                <ul class="list-disc ml-6 mt-2">
                    <li>Led a team of 5 developers to deliver scalable software solutions.</li>
                    <li>Automated internal processes, reducing manual work by 40%.</li>
                    <li>Developed data pipelines for analytics and BI systems.</li>
                </ul>
            </div>

            <!-- JOB 2 -->
            <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">Fundación Aladina</h3>
                    <span>2018 – 2021</span>
                </div>

                <ul class="list-disc ml-6 mt-2">
                    <li>Improved database performance by 20% through tuning.</li>
                    <li>Implemented monitoring dashboards for operations.</li>
                    <li>Collaborated with cross-functional teams in Agile environments.</li>
                </ul>
            </div>

              <div>
                <div class="flex justify-between">
                    <h3 class="font-bold">GlobalOil</h3>
                    <span>2018 – 2021</span>
                </div>

                <ul class="list-disc ml-6 mt-2">
                    <li>Improved database performance by 20% through tuning.</li>
                    <li>Implemented monitoring dashboards for operations.</li>
                    <li>Collaborated with cross-functional teams in Agile environments.</li>
                </ul>
            </div>
            
            

        </section>

    </main>
    </div>
 

</body>
</html>
